* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
$colorNavMenu: #957554;
$colorText: #FFFFFF;
$colorBackground: #DFAA5B;
$colorBlack: #111111;
$secondMenu: #00000080;

@mixin Ubuntu300 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

@mixin Ubuntu400 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

@mixin Ubuntu500 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

@mixin Ubuntu700 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.page {
  max-width: 100%;
  padding: 37px 0 0;
}

.bar__logo {
  max-width: 151px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  cursor: pointer;
}

.bar__menu {
  max-width: 90%;
  margin: 48px auto 0;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;

  & i.fa-solid {
    color: $colorNavMenu;
    font-size: 24px;
    line-height: 27.58px;
    cursor: pointer;
  }

  & ul {
    display: grid;
    grid-column: 2/3;
    text-align: right;
    grid-template-columns: repeat(4, 1fr);

    & li {
      display: grid;
      justify-content: space-evenly;

      & a {
        @include Ubuntu500;
        color: $colorNavMenu;
        font-size: 24px;
        line-height: 27.58px;

        &:hover {
          text-decoration: underline $colorNavMenu;
        }
      }
    }
  }
}

/*======================================*/
/*======================================*/

.second__menu {
  max-width: 100%;
  height: 120px;
  margin-top: 30px;
  background: $colorBlack;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;

  & ul {
    grid-column: 2/3;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    & li {
      background: $colorText;
      padding: 18px 0;
      margin: 0 13px;
      border-radius: 10px;
      cursor: pointer;

      &:last-child {
        background: $colorBackground;
      }
    }

    & img {
      margin-left: 40px;
      cursor: pointer;
    }

    & a {
      @include Ubuntu300;
      color: $secondMenu;
      font-size: 20px;
      line-height: 23px;
      text-align: left;

      &:last-child {
        color: $colorText;
      }
    }
  }
}

/*======================================*/
/*======================================*/

.container__1 {
  max-width: 100%;
  height: 790px;
  background: url("hDbCjHNdF48.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;

  & h1 {
    padding-top: 353px;
    width: 1010px;
    margin: 0 auto;
    @include Ubuntu700;
    color: $colorText;
    font-size: 80px;
    line-height: 106px;
    cursor: pointer;

    &:hover {
      text-decoration: underline $colorText 3px;
    }
  }

  & p {
    width: 476px;
    margin: 0 auto;
    @include Ubuntu500;
    color: $colorText;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;

    &:hover {
      text-decoration: underline $colorText;
    }
  }

  & button {
    margin-top: 41px;
    padding: 24px 133px;
    color: $colorText;
    background-color: $colorBackground;
    border-radius: 10px;
    @include Ubuntu500;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
  }

  .Facilities {
    width: 1346.4px;
    height: 269px;
    background: $colorText;
    position: absolute;
    top: 660px;
    left: 76px;
    z-index: 5;

    & h2 {
      width: 184px;
      margin: 42px auto 0;
      @include Ubuntu500;
      color: $colorNavMenu;
      font-size: 45px;
      line-height: 52px;
      cursor: pointer;

      &:hover {
        text-decoration: underline $colorNavMenu;
      }
    }

    .images {
      display: grid;
      margin-top: 54px;
      grid-template-columns: repeat(5, 1fr);

      & img {
        display: grid;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}

/*======================================*/
/*======================================*/

.container__2 {
  max-width: 90%;
  margin: 186px auto 0;

  & h2 {
    width: 312px;
    margin: 0 auto;
    @include Ubuntu500;
    color: $colorNavMenu;
    font-size: 45px;
    line-height: 52px;
    cursor: pointer;

    &:hover {
      text-decoration: underline $colorNavMenu;
    }
  }

  .cards {
    margin-top: 53px;
    display: grid;
    grid-template-columns: repeat(2, 642px);
    grid-template-rows: repeat(2, 500px);
    grid-column-gap: 60px;
    grid-row-gap: 58px;

    & .card__items__1 {
      background: url("FqqiAvJejto.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      & p {
        margin: 301px auto 19px auto;
        width: 388px;
        @include Ubuntu500;
        color: $colorText;
        font-size: 40px;
        line-height: 46px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        display: block;
        margin: 0 auto;
        @include Ubuntu500;
        background: $colorBackground;
        color: $colorText;
        font-size: 24px;
        line-height: 28px;
        padding: 24px 54px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    & .card__items__2 {
      background: url("GqbU78bdjFM.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      & p {
        margin: 301px auto 19px auto;
        width: 388px;
        @include Ubuntu500;
        color: $colorText;
        font-size: 40px;
        line-height: 46px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

      }

      button {
        display: block;
        margin: 0 auto;
        @include Ubuntu500;
        background: $colorBackground;
        color: $colorText;
        font-size: 24px;
        line-height: 28px;
        padding: 24px 54px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    & .card__items__3 {
      background: url("w1RE0lBbREo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      & p {
        margin: 301px auto 19px auto;
        width: 388px;
        @include Ubuntu500;
        color: $colorText;
        font-size: 40px;
        line-height: 46px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        display: block;
        margin: 0 auto;
        @include Ubuntu500;
        background: $colorBackground;
        color: $colorText;
        font-size: 24px;
        line-height: 28px;
        padding: 24px 54px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    & .card__items__4 {
      background: url("aRT5UCf2MYY.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      & p {
        width: 248px;
        margin: 301px auto 19px auto;
        @include Ubuntu500;
        color: $colorText;
        font-size: 40px;
        line-height: 46px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        display: block;
        margin: 0 auto;
        @include Ubuntu500;
        background: $colorBackground;
        color: $colorText;
        font-size: 24px;
        line-height: 28px;
        padding: 24px 54px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

/*======================================*/
/*======================================*/

.container__3 {
  max-width: 90%;
  margin: 53px auto 0;
  padding: 61px 454px 50px;

  & h2 {
    @include Ubuntu500;
    color: $colorNavMenu;
    font-size: 45px;
    line-height: 52px;
    cursor: pointer;

    &:hover {
      text-decoration: underline $colorNavMenu;
    }
  }

  & button {
    margin: 38px auto 0 auto;
    padding: 24px 152px;
    background: $colorBackground;
    color: $colorText;
    @include Ubuntu500();
    font-size: 24px;
    line-height: 28px;
  }
}

/*======================================*/
/*======================================*/

.footer {
  max-width: 100%;
  background-color: $colorBlack;

  .footer__content {
    width: 90%;
    margin: 0 auto;
    padding: 61px 0 131px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & .address {
      & img {
        cursor: pointer;
      }

      & p {
        margin-top: 68px;
        width: 263px;
        @include Ubuntu500;
        color: $colorText;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;

        &:hover {
          text-decoration: underline $colorText;
        }

        & span {
          @include Ubuntu300;
          color: $colorText;
          font-size: 24px;
          line-height: 28px;
          cursor: pointer;

          &:hover {
            text-decoration: underline $colorText;
          }
        }
      }
    }

    .outhers {
      margin: 61px auto 0;

      & li {
        padding: 0px 0px 20px 0px;

        & a {
          @include Ubuntu400;
          color: $colorText;
          font-size: 24px;
          line-height: 28px;
          cursor: pointer;
        }

        &:hover {
          text-decoration: underline $colorText;
        }
      }
    }

    .Sub__Offers {
      & p {
        max-width: 268px;
        margin-top: 61px;
        @include Ubuntu500;
        color: $colorText;
        font-size: 30px;
        line-height: 34px;
        cursor: pointer;

        &:hover {
          text-decoration: underline $colorText;
        }
      }

      input {
        margin-top: 20px;
        padding: 23px 172px 24px 27px;
        @include Ubuntu300;
        font-size: 24px;
        line-height: 28px;
        border-radius: 10px;
      }

      & button {
        margin-top: 24px;
        @include Ubuntu500;
        color: $colorText;
        background: $colorBackground;
        font-size: 24px;
        line-height: 28px;
        padding: 24px 180px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}