@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.page {
  max-width: 100%;
  padding: 37px 0 0;
}

.bar__logo {
  max-width: 151px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.bar__menu {
  max-width: 90%;
  margin: 48px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
}

.bar__menu i.fa-solid {
  color: #957554;
  font-size: 24px;
  line-height: 27.58px;
  cursor: pointer;
}

.bar__menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: right;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.bar__menu ul li {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bar__menu ul li a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #957554;
  font-size: 24px;
  line-height: 27.58px;
}

.bar__menu ul li a:hover {
  -webkit-text-decoration: underline #957554;
          text-decoration: underline #957554;
}

/*======================================*/
/*======================================*/
.second__menu {
  max-width: 100%;
  height: 120px;
  margin-top: 30px;
  background: #111111;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 4fr 1.5fr;
      grid-template-columns: 1.5fr 4fr 1.5fr;
}

.second__menu ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__menu ul li {
  background: #FFFFFF;
  padding: 18px 0;
  margin: 0 13px;
  border-radius: 10px;
  cursor: pointer;
}

.second__menu ul li:last-child {
  background: #DFAA5B;
}

.second__menu ul img {
  margin-left: 40px;
  cursor: pointer;
}

.second__menu ul a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #00000080;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
}

.second__menu ul a:last-child {
  color: #FFFFFF;
}

/*======================================*/
/*======================================*/
.container__1 {
  max-width: 100%;
  height: 790px;
  background: url("hDbCjHNdF48.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}

.container__1 h1 {
  padding-top: 353px;
  width: 1010px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 80px;
  line-height: 106px;
  cursor: pointer;
}

.container__1 h1:hover {
  -webkit-text-decoration: underline #FFFFFF 3px;
          text-decoration: underline #FFFFFF 3px;
}

.container__1 p {
  width: 476px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.container__1 p:hover {
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.container__1 button {
  margin-top: 41px;
  padding: 24px 133px;
  color: #FFFFFF;
  background-color: #DFAA5B;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.container__1 .Facilities {
  width: 1346.4px;
  height: 269px;
  background: #FFFFFF;
  position: absolute;
  top: 660px;
  left: 76px;
  z-index: 5;
}

.container__1 .Facilities h2 {
  width: 184px;
  margin: 42px auto 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #957554;
  font-size: 45px;
  line-height: 52px;
  cursor: pointer;
}

.container__1 .Facilities h2:hover {
  -webkit-text-decoration: underline #957554;
          text-decoration: underline #957554;
}

.container__1 .Facilities .images {
  display: -ms-grid;
  display: grid;
  margin-top: 54px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.container__1 .Facilities .images img {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  cursor: pointer;
}

/*======================================*/
/*======================================*/
.container__2 {
  max-width: 90%;
  margin: 186px auto 0;
}

.container__2 h2 {
  width: 312px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #957554;
  font-size: 45px;
  line-height: 52px;
  cursor: pointer;
}

.container__2 h2:hover {
  -webkit-text-decoration: underline #957554;
          text-decoration: underline #957554;
}

.container__2 .cards {
  margin-top: 53px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (642px)[2];
      grid-template-columns: repeat(2, 642px);
  -ms-grid-rows: (500px)[2];
      grid-template-rows: repeat(2, 500px);
  grid-column-gap: 60px;
  grid-row-gap: 58px;
}

.container__2 .cards .card__items__1 {
  background: url("FqqiAvJejto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container__2 .cards .card__items__1 p {
  margin: 301px auto 19px auto;
  width: 388px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.container__2 .cards .card__items__1 p:hover {
  text-decoration: underline;
}

.container__2 .cards .card__items__1 button {
  display: block;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: #DFAA5B;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 54px;
  border-radius: 10px;
  cursor: pointer;
}

.container__2 .cards .card__items__2 {
  background: url("GqbU78bdjFM.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container__2 .cards .card__items__2 p {
  margin: 301px auto 19px auto;
  width: 388px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.container__2 .cards .card__items__2 p:hover {
  text-decoration: underline;
}

.container__2 .cards .card__items__2 button {
  display: block;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: #DFAA5B;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 54px;
  border-radius: 10px;
  cursor: pointer;
}

.container__2 .cards .card__items__3 {
  background: url("w1RE0lBbREo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container__2 .cards .card__items__3 p {
  margin: 301px auto 19px auto;
  width: 388px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.container__2 .cards .card__items__3 p:hover {
  text-decoration: underline;
}

.container__2 .cards .card__items__3 button {
  display: block;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: #DFAA5B;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 54px;
  border-radius: 10px;
  cursor: pointer;
}

.container__2 .cards .card__items__4 {
  background: url("aRT5UCf2MYY.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container__2 .cards .card__items__4 p {
  width: 248px;
  margin: 301px auto 19px auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 46px;
  cursor: pointer;
}

.container__2 .cards .card__items__4 p:hover {
  text-decoration: underline;
}

.container__2 .cards .card__items__4 button {
  display: block;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background: #DFAA5B;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 54px;
  border-radius: 10px;
  cursor: pointer;
}

/*======================================*/
/*======================================*/
.container__3 {
  max-width: 90%;
  margin: 53px auto 0;
  padding: 61px 454px 50px;
}

.container__3 h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #957554;
  font-size: 45px;
  line-height: 52px;
  cursor: pointer;
}

.container__3 h2:hover {
  -webkit-text-decoration: underline #957554;
          text-decoration: underline #957554;
}

.container__3 button {
  margin: 38px auto 0 auto;
  padding: 24px 152px;
  background: #DFAA5B;
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

/*======================================*/
/*======================================*/
.footer {
  max-width: 100%;
  background-color: #111111;
}

.footer .footer__content {
  width: 90%;
  margin: 0 auto;
  padding: 61px 0 131px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer .footer__content .address img {
  cursor: pointer;
}

.footer .footer__content .address p {
  margin-top: 68px;
  width: 263px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.footer .footer__content .address p:hover {
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.footer .footer__content .address p span {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.footer .footer__content .address p span:hover {
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.footer .footer__content .outhers {
  margin: 61px auto 0;
}

.footer .footer__content .outhers li {
  padding: 0px 0px 20px 0px;
}

.footer .footer__content .outhers li a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.footer .footer__content .outhers li:hover {
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.footer .footer__content .Sub__Offers p {
  max-width: 268px;
  margin-top: 61px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 34px;
  cursor: pointer;
}

.footer .footer__content .Sub__Offers p:hover {
  -webkit-text-decoration: underline #FFFFFF;
          text-decoration: underline #FFFFFF;
}

.footer .footer__content .Sub__Offers input {
  margin-top: 20px;
  padding: 23px 172px 24px 27px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
}

.footer .footer__content .Sub__Offers button {
  margin-top: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  background: #DFAA5B;
  font-size: 24px;
  line-height: 28px;
  padding: 24px 180px;
  border-radius: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */